.home 
	{ 
         width: 520px;    
         max-width: 1040px;
		 font-family: Calibri;
         font-size: 12px;
         font-weight: normal;
         
	}
	 
.home header h1 
	 { 
           font-family: Cambria;
           font-size: 16px;
           font-weight: bold;
           text-align: left;
	}
	
.home header .legalPara 
{ 
           font-weight: normal;
           font-style: italic;
           font-family: Calibri;
           font-size: 12px;
           text-align: left;
           margin: 20px 2%;
}

