@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Student Services</title>
		<script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>	
    </head>

    <body class = "home">
		
		
        <header>
			<h1>Welcome to Cuyahoga Community College Student Services Online</h1>
			<div class="legalPara">
				Cuyahoga Community College recognizes students' rights to access personal and academic records in accordance with
				the Family Educational Rights and Privacy Act of 1974 (FERPA) as amended by Public Law 93-568.
			</div>
		</header>	
        		
		<footer>
			<div>Cuyahoga Community College</div>
			<div>700 Carnegie Avenue, Cleveland, OH 44115</div>
		</footer>
       
    </body>

</html>